[package]
name = "nrr"
version = "0.1.0"
edition = "2021"

description = "Minimal, blazing fast Node.js script runner"
authors = ["Ryan Cao <hello@ryanccn.dev>"]
license = "GPL-3.0-only"
repository = "https://github.com/ryanccn/nrr.git"
publish = false

[dependencies]
anyhow = "1.0.75"
clap = { version = "4.4.8", features = ["derive"] }
nix = { version = "0.27.1", features = ["signal"] }
owo-colors = { version = "3.5.0", features = ["supports-color"] }
serde = { version = "1.0.192", features = ["derive"] }
serde_json = "1.0.108"
shell-escape = "0.1.5"
tokio = { version = "1.34.0", features = ["full"] }
which = "5.0.0"
