# SPDX-FileCopyrightText: 2025 Ryan Cao <hello@ryanccn.dev>
#
# SPDX-License-Identifier: GPL-3.0-or-later

name: Check

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
  contents: read

jobs:
  collect:
    runs-on: ubuntu-latest
    outputs:
      checks: ${{ steps.checks.outputs.checks }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # ratchet:actions/checkout@v6
        with:
          persist-credentials: false

      - name: Install Nix
        uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # ratchet:cachix/install-nix-action@v31

      - name: Collect checks
        id: checks
        run: |
          echo "checks=$(nix eval --impure --json --expr 'builtins.attrNames (builtins.getFlake (toString ./.)).checks.${builtins.currentSystem}')" >> "$GITHUB_OUTPUT"

  check:
    needs: collect
    strategy:
      matrix:
        check: ${{ fromJson(needs.collect.outputs.checks) }}
      fail-fast: false

    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # ratchet:actions/checkout@v6
        with:
          persist-credentials: false

      - name: Install Nix
        uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # ratchet:cachix/install-nix-action@v31

      - name: Check
        run: nix build --fallback --print-build-logs '.#checks.x86_64-linux.${{ matrix.check }}'

      - name: Upload Clippy results
        if: ${{ matrix.check == 'clippy' }}
        uses: github/codeql-action/upload-sarif@4bdb89f48054571735e3792627da6195c57459e2 # ratchet:github/codeql-action/upload-sarif@v3
        with:
          sarif_file: result
          wait-for-processing: true
