# SPDX-FileCopyrightText: 2025 Ryan Cao <hello@ryanccn.dev>
#
# SPDX-License-Identifier: GPL-3.0-or-later

name: Release

on:
  push:
    tags: ["v*.*.*"]

permissions:
  contents: read

jobs:
  build:
    permissions:
      contents: read
      id-token: write
      attestations: write

    uses: ./.github/workflows/build.yml
    with:
      disable-cache: true

  crates-io:
    name: crates.io
    needs: build

    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # ratchet:actions/checkout@v6
        with:
          persist-credentials: false

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@4be9e76fd7c4901c61fb841f559994984270fce7 # ratchet:dtolnay/rust-toolchain@stable
        with:
          toolchain: stable

      - name: Authenticate with crates.io
        uses: rust-lang/crates-io-auth-action@b7e9a28eded4986ec6b1fa40eeee8f8f165559ec # ratchet:rust-lang/crates-io-auth-action@v1
        id: auth

      - name: Publish
        run: cargo publish
        env:
          CARGO_REGISTRY_TOKEN: ${{ steps.auth.outputs.token }}

  github:
    name: GitHub Releases
    needs: build

    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # ratchet:actions/checkout@v6
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Install git-cliff
        uses: taiki-e/install-action@30791125b88ed3200de59e9b5edbf78d1949e41f # ratchet:taiki-e/install-action@git-cliff

      - name: Download artifacts
        id: download
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # ratchet:actions/download-artifact@v7
        with:
          path: /tmp/artifacts

      - name: Prepare assets
        env:
          ARTIFACTS: ${{ steps.download.outputs.download-path }}
        id: prepare
        run: |
          asset_path="/tmp/assets"
          mkdir -p "$asset_path"
          for artifact in "$ARTIFACTS"/*/; do
            basename "$artifact" | \
              xargs -I {} zip -jr "$asset_path"/{}.zip "$artifact"
          done

      - name: Generate changelog
        run: git-cliff --current --strip all | tail -n +3 > /tmp/changelog.md

      - name: Create release
        env:
          GH_TOKEN: ${{ github.token }}
          TAG: ${{ github.ref_name }}
        run: |
          gh release create --notes-file /tmp/changelog.md --draft --verify-tag "$TAG" /tmp/assets/*.zip
